/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

/* Common Style */
.color-character {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 8px 20px;
    border: 2px solid #FD6E0A;
    transition: .5s;
}

.btn:hover {
    background-color: #fff;
    color: #FD6E0A;
}

.section-titel {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

/* header Section Style */

/* Navber */
header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

nav h2 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 25px;
}

nav ul a {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

nav ul a:hover {
    color: black;
}

/* Banner */
.banner {
    padding: 30px 30px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-containt {
    max-width: 500px;
}

.banner .banner-containt h3 {
    color: #423e3e;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner .banner-containt h2 {
    color: #181818;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner .banner-containt p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner img {
    width: 500px;
}

.banner .btn {
    margin-right: 10px;
}

.header {
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}

.bg-devloper {
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 80px;
    margin-left: 20px;
    
}

/* main Section Style */
main {
    max-width: 1100px;
    margin: 0 auto;
}

/* About */
.about-section {
    padding: 100px 130px;
    background: #f5e7de;
    /* width: 100vh; */
    margin: 130px 0
        /* auto */
    ;
    border-radius: 10px;
}

.about-section>p {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.about-info h6 {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.about-info P {
    color: #474747;
    font-size: 20px;
    font-weight: 500;
}

/* what i do  */
.what-in-do>p {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    padding: 0 100px;
}

.skill-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.skill-type {
    padding: 30px;
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-type img {
    margin-bottom: 15px;
}

.skill-type h3 {
    color: #181818;
    margin-bottom: 21px;
}

.skill-type p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

/* Resume */
.resume {
    margin-top: 110px;
}

.resume>h3 {
    margin-bottom: 30px;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resumi-column>h3 {
    margin-bottom: 30px;
    margin-top: 50px;
}

.resume-column-titel {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item {
    margin-top: 20px;
}

.resume-item>h3 {
    margin-bottom: 10px;
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item>h4 {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item p {
    color: #757575;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Footer Section Style  */
footer {
    background-color: #FFF8F3;
    margin: 50px 0px 0 0;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 140px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-container h3 {
    color: #181818;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    padding-top: 130px;
}

.footer-left p {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 28px;
}

.footer-left a i {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 15px;
    color: #FD6E0A;
}

.form-titel {
    margin-bottom: 20px;
}

form .fill-up {
    display: block;
    padding: 18px 18px 18px 18px;
    font-size: 18px;
    width: 350px;
    height: 10px;
    margin: 20px 0px;
    border: none;
}

.text-box {
    height: 150px;
    width: 85%;
    border: none;
    padding: 30px;
}

.button {
    margin-top: 20px;
    display: flex;
}

.button input {
    margin-right: 15px;
    cursor: pointer;
}

.copy-right {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}



.hide{
    display: none;
}

@media (max-width: 576px) { 
    .header{
        background-image: none;
    }
    nav {
        flex-direction: column;
        margin: 10px ;
    }
    .small-device{
        display: none;
    }
    .banner{
        flex-direction: column;
        padding: 10px;
        
    }
    .banner .banner-containt h2{
         font-size: 3.5em;   
    }
    .banner img{
        width: 50%;
    }
    .banner-containt .btn{
        margin-top: 2%;
    }
    .about-section{
        padding: 10px;
        margin: 0px;
    }
    .what-in-do>p{
        padding: 0;
        margin: 30px 10px;
    }
    .about-info-container {
        flex-direction: column;
        margin-top: 10px;
    }
    .about-info{
        margin-top: 10px;
    }
    .what-in-do{
        margin-top: 30px;
    }
    .skill-type-container{
        flex-direction: column;
        width: 100%;
    }
    .resume-container{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .footer-container{
        flex-direction: column-reverse;
    }
    .footer-left{
        width: 80%;
        margin: auto;
    }
    form{
        width: 80%;
        margin: auto;
    }
    .button{
        flex-direction: column;
        width: 70%;
        margin: auto;
        
    }
    .small-btn{
        margin-top: 10px;
    }


 }